* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(4rem * 8);
  height: calc(4rem * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: #eed4ac;
}